<% provide(:title, 'About') %>
<h1>About</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<p>When an idea-for-service reaches a certain threshold (when X users express interest), a business owner can claim the idea. When the business owner claims the idea, they promise that, if implemented, they’ll give an incentive to the X users who expressed interest. Those X users all agree to legitimately totally seriously consider buying the product. When a business owner claims they idea, they get the contact info for the users, (optionally, auto-Like or proposes to Like a business’s Facebook page)</p>
